{% extends 'base.html.twig' %}

{% block title 'IP Adresse' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://www.iamstudent.at/css/iamstudent.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
{% endblock %}
    
{% block body %}
    <main>
        <section>
            <div class="container margin-top-more panel panel-default panel-standalone">
                <div class="row">
                    <div class="col-xs-10">
                        <h1>IP-Address to City Finder</h1>
                        <form>
                            <fieldset class="row">
                                <div class="col-xs-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-at text-jumbo margin-right-half margin-left-half"></i>
                                        </span>
                                        <input class="form-control" type="text" name="text" value="{{ ipAddress }}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-globe text-jumbo margin-right-half margin-left-half"></i>
                                        </span>
                                        <input class="form-control" type="text" name="text" value="{{ geoip.countryName }}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-circle-o text-jumbo margin-right-half margin-left-half"></i>
                                        </span>
                                        <input class="form-control" type="text" name="text" value="{{ geoip.Region }}" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-building text-jumbo margin-right-half margin-left-half"></i>
                                        </span>
                                        <input class="form-control" type="text" name="text" value="{{ geoip.city }}" disabled>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container margin-top-more panel panel-default panel-standalone">
                <h2>In deiner Stadt</h2>
                {% for voucher in voucherCityContainer %}
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-4 panel panel-voucher">
                        <h3>
                            {{ voucher.descriptionCompact }}
                        </h3>
                        <p>Stadt: {{ voucher.town.name }}</p>
                        <p>Land: {{ voucher.town.country.name }}</p>
                    </div>
                </div>
                {% endfor %}
                <h2>In deinem Land</h2>
                {% for voucher in voucherCountryContainer %}
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-4 panel panel-voucher">
                        <h3>
                            {{ voucher.descriptionCompact }}
                        </h3>
                        <p>Stadt: {{ voucher.town.name }}</p>
                        <p>Land: {{ voucher.town.country.name }}</p>
                    </div>
                </div>
                {% endfor %}
                <h2>Sonstige</h2>
                {% for voucher in voucherRestContainer %}
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-4 panel panel-voucher">
                        <h3>
                            {{ voucher.descriptionCompact }}
                        </h3>
                        <p>Stadt: {{ voucher.town.name }}</p>
                        <p>Land: {{ voucher.town.country.name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% block javascripts %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
{% endblock %}
{% endblock %}
